*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:
linear-gradient(
135deg,
#3b1dff,
#0077ff,
#00c6ff
);

min-height:100vh;
color:white;
}

.dashboard-page{
padding:30px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border-radius:18px;
}

.logo{
font-size:24px;
font-weight:700;
}

.profile-btn{

border:none;

padding:12px 22px;

border-radius:12px;

background:white;

color:#3b1dff;

font-weight:600;

cursor:pointer;

}

.hero{

text-align:center;

margin-top:70px;

}

.hero h1{

font-size:52px;

margin-bottom:15px;

}

.hero p{

font-size:18px;

opacity:.9;

}

.dashboard{

margin-top:60px;

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(250px,1fr)
);

gap:25px;

}

.box{

padding:40px;

border-radius:22px;

background:
rgba(255,255,255,.12);

backdrop-filter:
blur(20px);

transition:.3s;

cursor:pointer;

}

.box:hover{

transform:
translateY(-10px);

}

.box h2{

margin-bottom:15px;

font-size:28px;

}

.box span{

opacity:.8;

}
