<!DOCTYPE html>

<html>

<head>

<title>
PEPLUM HOME SERVICES
</title>

<link
rel="stylesheet"
href="/static/css/style.css"
>

</head>

<body>

<header>

<div class="logo">
PEPLUM
</div>

<nav>

<a>Home</a>

<a>Services</a>

<a>About</a>

<button>
Login
</button>

<button>
Register
</button>

</nav>

</header>


<section class="hero">

<h1>

Reliable Home Services

</h1>

<p>

Book plumbers,
mechanics,
electricians,
cleaners,
and cooks.

Pay after service.

</p>

<button>

Book Now

</button>

</section>


<section class="cards">

<div class="card">

<img src="/static/images/plumber.jpg">

<h2>
Plumber
</h2>

</div>


<div class="card">

<img src="/static/images/electrician.jpg">

<h2>
Electrician
</h2>

</div>


<div class="card">

<img src="/static/images/mechanic.jpg">

<h2>
Mechanic
</h2>

</div>


<div class="card">

<img src="/static/images/cleaning.jpg">

<h2>
Cleaning
</h2>

</div>


<div class="card">

<img src="/static/images/cooking.jpg">

<h2>
Cooking
</h2>

</div>

</section>

</body>

</html>
