<!DOCTYPE html>

<html>

<head>

<link
rel="stylesheet"
href="/static/css/style.css">

</head>

<body>

<h1>

Choose Service

</h1>

<div class="cards">

<a href="/book/">

<div class="card">

<h2>
Plumber
</h2>

<p>
Available
</p>

</div>

</a>


<a href="/book/">

<div class="card">

<h2>
Electrician
</h2>

<p>
Available
</p>

</div>

</a>


<a href="/book/">

<div class="card">

<h2>
Mechanic
</h2>

<p>
Available
</p>

</div>

</a>


<a href="/book/">

<div class="card">

<h2>
Cleaning
</h2>

<p>
Available
</p>

</div>

</a>


<a href="/book/">

<div class="card">

<h2>
Cooking
</h2>

<p>
Available
</p>

</div>

</a>

</div>

</body>

</html>
